[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytorch-lightning = ">=1.0.0rc2"
torch = ">=1.3.0"
torchvision = ">=0.6.0"
project = {editable = true, path = "."}

[dev-packages]
matplotlib = "*"
jupyter = "*"
jupyterthemes = "*"
jupyter-contrib-nbextensions = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
